
<div class='comment_form'>

<form method="POST" action="/addComment/{{title}}" name="add_comment" style="margin-right: 20px;">

<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-12">
		<div class="form-group">
			<label for="comment">Votre commentaire : </label><br>
			<textarea name="comment" class="form-control" rows=10></textarea><br><br>
			<button type="submit" class="btn btn-default btn-sm" name="validComment" value="1">Soumettre votre commentaire</button><br><br>
		</div>
	</div>
</div>
	{% if validation == 1  %}

		{% if role == 1 %} <p>Votre commentaire a bien été transmis pour publication</p> {% endif%}
		{% if role == 2 %} <p>Votre commentaire a bien été publié</p> {% endif%}

	{% endif%}

</form>

</div>


