{% extends 'views/templates/default.twig' %}

{% block content %}

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Message envoyé !</h4>
  <p>Votre message a bien été envoyé. Une réponse vous sera envoyée dans les plus brefs délais</p>
  <hr>
</div>
<p><a href="/">Revenir à la page d'accueil</a></p>

  
{% endblock %}