<h3>CONNEXION</h3>

<form method="POST" action="/connectionStatus/" name="connexion">

	<label for="pseudo">Pseudo</label><br>
	<input type="text" name="pseudo" lenght=30><br><br>

	<label for="password">Mot de passe</label><br>
	<input type="password" name="password" length=30><br><br>

	<button type="submit" class="btn btn-warning" name="connecter">Se connecter</button>

	<a href="/inscriptionForm/"><button type="button" class="btn btn-warning" name ="inscription">S'inscrire</button></a><br><br>

</form>

<p><a href="forgot_password.php">J'ai oublié mon mot de passe</a></p>

<p>Votre inscription a bien été prise en compte.</p>
<p>Vérifiez votre boîte mail, un courriel de confirmation vous a été envoyé.</p>
<p><a href="/">Revenir à la page de connexion<a></p>

