

<h3>INSCRIPTION</h3>

<form method="POST" action="/inscriptionStatus/">

	<label for="pseudo">Pseudo</label><br>
	<input type="text" name="pseudo" lenght=30><br><br>

	<label for="password1">Mot de passe</label><br>
	<input type="password" name="password1" length=30><br><br>

	<label for="password2">Confirmez le mot de passe</label><br>
	<input type="password" name="password2" length=30><br><br>

	<label for="mail">Adresse e-mail</label><br>
	<input type="text" name="mail" lenght=100><br><br>

	<button type="submit" name="inscrire" class="btn btn-warning">S'inscrire</button><br><br>

	<p><a href="/">Revenir à la page de connexion</a></p>



</form>

