<h3>Reinitialisation de mot de passe</h3>

<p>Le formulaire est incomplet</p>

<form method="POST" action="/passwordReinitialize/">

    <label for="mail">Adresse mail</label><br>
    <input type="text" name="mail" length=30><br><br>

    <button type="submit" class="btn btn-warning" name="compare">Envoyer</button>

    <a href="/logout/"><button type="button" class="btn btn-warning" name ="home">Retour à l'accueil</button></a><br><br>

</form>

