<h3>Réinitialisation du mot de passe</h3>
 <h3>pour {{ user.pseudo }}</h3>

 <p>Le formulaire n'est pas complet</p>

 <form method="POST" action="/passwordReinitialize/" name="connexion">

     <label for="password1">Mot de passe</label><br>
     <input type="password" name="password1" length=30><br><br>

     <label for="password2">Confirmez le mot de passe</label><br>
     <input type="password" name="password2" length=30><br><br>

     <button type="submit" class="btn btn-warning" name="reinitialize">Changer de mot de passe</button>

 </form>

