<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title></title>
		<link rel="stylesheet" href="../public/css/bootstrap/dist/css/bootstrap.min.css" type="text/css"/>
		<link rel="stylesheet" href="../public/css/style.css" type="text/css"/>
		<link href="https://fonts.googleapis.com/css?family=Muli|Nunito|Nunito+Sans|Oswald" rel="stylesheet"> 	
	</head>
	
<body>

<div class="row content">
	<div class="row cv">

		<div class="col-lg-2 col-md-2 col-sm-2 loloDebout2"></div>
		<div class="col-lg-4 col-md-10 col-sm-10 cvHeader">
			<h1>Laurent BERTON</h1>
			<p>41 ans</p>
			<p><img src="../../public/images/familyIco.png"/> En couple - 2 enfants</p> 
			<p><img src="../../public/images/homeIco.png"/> 20 allée Baudelaire - 59139 Wattignies</p>
			<p><img src="../../public/images/telIco.png"/> Portable : 07 68 34 33 15</p>
			<p><img src="../../public/images/mailIco.png"/> lolosambo2@gmail.com</p>
			<p><img src="../../public/images/permisIco.png"/> Permis B</p>
		</div>
		<div class="col-lg-6 col-md-10 col-sm-10 socialnet ">

			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12"><h4>Retrouvez-moi sur les réseaux sociaux<h4></div>	
					<p><img src="../../public/images/facebook.png"/>https://www.facebook.com/laurent.berton</p> 
					<p><img src="../../public/images/twitter.png"/>https://twitter.com/lolosambo59</p>
					<p><img src="../../public/images/linkedIn.png"/>https://www.linkedin.com/in/laurent-berton-320ab614b/</p>

			</div>

		</div>
		

		<div class="col-lg-12 col-md-12 col-sm-12 cvTitre"><h2>FORMATION</h2></div>
		<div class="col-lg-12 col-md-12 col-sm-12">
			
				<b>De 1983 à 1988 :</b> Ecole primaire Lamartine à Hem<br>
				<b>De 1988 à 1992 :</b> Collège Gambetta à Lys-lez-Lannoy<br>
				<b>De 1992 à 1995 :</b> Lycée Maxence Van Der Meersch à Roubaix<br>
				<b>Avril 1995 :</b> Obtention du BAFA (Brevet d'Aptitude aux Fonctions d'Animateur)<br>
				<b>Décembre 2005 :</b> Obtention du concours interne d'Adjoint administratif<br>
				<b>Depuis septembre 2017 :</b> Formation de Développeur d'application PHP/Symphony sur OpenClassrooms.<br>
			
		</div>

		<div class="col-lg-12 col-md-12 col-sm-12 cvTitre"><h2>EXPERIENCES PROFESSIONNELLES</h2></div>
		<div class="col-lg-12 col-md-12 col-sm-12">
			
				<b>De 1996 à 2001 :</b> Surveillant de garderie à l'école Saint-Luc de Lys-lez-Lannoy<br>
				<b>De mai 2001 à avril 2002 :</b> Agent administratif affecté aux cartes d'identité et aux Passeports à la mairie de Lys-lez-Lannoy.<br>
				<b>Depuis avril 2002  :</b> Chargé de communication à la mairie de Lys-lez-lannoy<br>
			
		</div>

		<div class="col-lg-12 col-md-12 col-sm-12 cvTitre"><h2>COMPETENCES</h2></div>
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="row">

			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="card">
  					<img class="card-img-top" src="../../public/images/test.jpg" alt="Card image cap">
  					<div class="card-body">
    					<p class="card-text">
    				
    					<h3>WEB</h3>
					
							- Bonne maîtrise des langages PHP, HTML, CSS<br>
							- Bonne maîtrise des Frameworks Symfony et Bootstrap<br>
							- Bonnes connaissances des réseaux sociaux<br>
							- Maitrîse du CMS Wordpress<br>
    					</ul>
    					</p>
  					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-4 col-sm-6">
			<div class="card">
  				<img class="card-img-top" src="../../public/images/infography.jpg" alt="Card image cap">
  				<div class="card-body">
    				<p class="card-text">
    				
    					<h3>INFOGRAPHIE</h3>
					
							- Maîtrise de Photoshop, In Design<br>
							- Bonnes connaissances d'Illustrator<br>
							- Bonne maîtrise de l'environnement Mac<br>
    					
    					</p>
  					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="card">
  					<img class="card-img-top" src="../../public/images/impression.jpg" alt="Card image cap">
  					<div class="card-body">
    					<p class="card-text">
    				
    					<h3>PHOTO ET IMPRESSION</h3>
						
							- Maîtrise des différents formats de photos<br>
							- Maîtrise des contrainte d'impression<br>
    					
    					</p>
  					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="card">
  					<img class="card-img-top" src="../../public/images/bureautique.jpg" alt="Card image cap">
  					<div class="card-body">
    					<p class="card-text">
    				
    						<h3>BUREAUTIQUE</h3>
							
								- Maîtrise des logiciels word, Excel et Powerpoint<br>
    						
    					</p>
  					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-4 col-sm-6">	
				<div class="card">
  					<img class="card-img-top" src="../../public/images/video.jpg" alt="Card image cap">
  					<div class="card-body">
    					<p class="card-text">
    				
    						<h3>VIDEO</h3>
						
							- Bonnes connaissances en montage vidéo<br>
    					
    					</p>
  					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="card">
  					<img class="card-img-top" src="../../public/images/languages.jpg" alt="Card image cap">
  						<div class="card-body">
    						<p class="card-text">
    				
    						<h3>LANGUES</h3>
						
							- Anglais, allemand<br>
    					
    						</p>
  					</div>
				</div>
			</div><br><br>

			<div class="col-lg-12 col-md-12 col-sm-12 cvTitre"><h2>LOISIRS</h2></div>
				<div class="col-lg-12 col-md-12 col-sm-12">
					
						Guitare, batterie, chant, dessin<br>
				
					
				</div>
			</div><br><br><br>

	</div>


</div>
</body>
</html>