<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../public/css/menu.css" type="text/css">
  </head>

  <body>

  
      <div class="container">

        <div class="row no-padding">

          <div class="col-md-12">

            <ul class="nav nav-pills flex-column">

              <li class="nav-item bg-primary border border-dark">
                  <a href="/admin/" class="active nav-link"><i class="fa fa-home fa-home"></i>&nbsp;Tableau de bord</a>
              </li>

              <li class="nav-item bg-secondary border border-dark" id="utilisateurs">
                  <a class="nav-link" href="/admin/searchUserForm/"><i class="fa fa-user fa-fw"></i>&nbsp;Utilisateurs</a>
              </li>

              <li class="nav-item bg-secondary border border-dark">
                  <a class="nav-link" href="/admin/posts/"><i class="fa fa-pencil fa-fw"></i>&nbsp;Articles</a>
              </li>

              <li class="nav-item bg-secondary border border-dark">
                  <a class="nav-link" href="/admin/comments/"><i class="fa fa-comment fa-fw"></i>&nbsp;Commentaires</a>
              </li>

              <li class="nav-item bg-secondary border border-dark">
                  <a class="nav-link" href="/admin/networks/"><i class="fa fa-group fa-fw"></i>&nbsp;Réseaux sociaux</a>
              </li>

              <li class="nav-item bg-secondary border border-dark">
                  <a class="nav-link" href="/admin/cv/"><i class="fa fa-id-card fa-fw"></i>&nbsp;CV</a>
              </li>

            </ul>

          </div>

        </div>
        
      </div>


</body>
</html>

