{% extends 'views/templates/admin_template.twig' %}

{% block title %} ECRIRE UN ARTICLE {% endblock %}

{% block content %}

<form method="POST" action="/admin/addPost/" enctype="multipart/form-data" name="add_post" style="margin-right: 20px;">

	<div class="form-group">
	<label for="title">Titre : </label>
	<input type="text" class="form-control" name="title" lenght=230></input><br>
	</div>

	<div class="form-group">
	<label for="heading">Chapô : </label>
	<textarea name="heading" class="form-control" cols=60 rows=5></textarea><br>
	</div>

	<div class="form-group">
	<label for="content">Contenu : </label>
	<textarea name="content" class="form-control" cols=60 rows=10></textarea><br><br>
	</div>

	<!-- Image insertion field -->
	<input type="hidden" name="MAX_FILE_SIZE" value="5000000" />
 	<label for="img">Insérer une image : </label>
 	<input name="img" type="file"/><br><br>

	<button type="submit" class="btn btn-warning" name="publier">Publier</button><br><br>
	<a href="/admin/posts/"><button type="button" class=" btn btn-warning">Retour à la liste des articles</button></a><br><br>
</form>

{% endblock %}





