{% extends 'views/templates/admin_template.twig' %}

{% block title %} GESTION DES RESEAUX SOCIAUX {% endblock %}

{% block content %}

<p>Le compte a bien été ajouté.</p>

<a href="/admin/networks/"><button type="button" class=" btn btn-warning">Retour à la liste des réseaux</button></a>

{% endblock %}