{% extends 'views/templates/admin_template.twig' %}

{% block title %} ARTICLE PUBLIE {% endblock %}

{% block content %}

<p>L'article a bien été publié</p>

<a href="/admin/posts/"><button type="button" class=" btn btn-warning">Retour à la liste des articles</button></a>

{% endblock %}


